.carousel {
  position: relative;
  overflow: hidden;
  /*height: 500px;*/
}

.carousel img {
  width: 100%;
  /* you can use % */
  height: 500px;
}

.carousel-children {
  width: 100%;
  position: relative;
  height: 767px;
}

.carousel-dots {
  text-align: center;
  width: 100%;
  z-index: 100;
  position: absolute;
  bottom: 15%;
}

.carousel-dot {
  font-size: 1.5em;
  cursor: pointer;
  user-select: none;
  color: #ffffff;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
}
