@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,600,600i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");

$fontStack: "Open Sans", sans-serif;
$headingFont: "Oswald", serif;
$primaryColor: #418fde;
$lightColor: #f4f6fb;
$borderColor: #e1e1e1;
$textBody: #1a2729;
$primaryGradient: #418fde, #00d0ff;

/*breakpoints*/
$break-md: 768px;

body {
  font-family: $fontStack !important;
  line-height: 2 !important;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: $textBody !important;

  header {
    .header {
      position: absolute;
      padding: 7px 0;
      z-index: 999;
      transition: all 0.35s ease;
      width: 100%;
      background: #ffffff;
      border-bottom: 1px solid $borderColor;
      .header-logo {
        height: 30px;
        transform: scale(1.05);
        transform-origin: center left;
        transition: all 0.35s ease-in-out;
      }
      .header-cta {
        margin-top: -3px;
      }
      .header-search {
        display: inline-block;
        padding-top: 3px;
        .search-icon {
          position: relative;
          cursor: pointer;
          &:before {
            content: "Search";
            text-transform: none;
            letter-spacing: 0;
            opacity: 0;
            position: absolute;
            right: 25px;
            transition: all 0.15s ease-out;
            pointer-events: none;
          }
          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }
        .search-field {
          position: relative;
          .search-form-wrapper {
            position: absolute;
            right: -20px;
            bottom: -90px;
            width: 200px;
            background: #ffffff;
            padding: 15px;
            box-shadow: 0 0.5rem 1rem rgba(8, 28, 39, 0.15);
            &:before {
              content: "";
              position: absolute;
              width: 25px;
              height: 25px;
              transform: rotate(45deg);
              background: #ffffff;
              top: 0;
              right: 15px;
            }
            .form-group {
              margin: 0;
              position: relative;
            }
            .form-control {
              padding: 10px 30px 10px 10px;
              font-size: 14px;
              margin-bottom: 0;
              height: 40px;
              background: transparent;
            }
            .search-icon-btn {
              border: 0 !important;
              background: transparent;
              outline: none;
              position: absolute;
              right: 20px;
              top: 50%;
              transform: perspective(1px) translateY(-50%);
              border: 1px solid $borderColor;
              padding: 0;
            }
            @media (max-width: 991px) {
              right: -15px;
              padding: 0;
              bottom: -4px;
              box-shadow: none;

              .form-control {
                height: 35px;
              }
            }
          }
        }
      }
    }

    /*** default full header is hidden. show only on sticky ***/
    .full-header-menu {
      display: none;
      opacity: 0;
      transition: all 0.5s ease-out;
    }

    .nav-item {
      display: inline-block;
      a {
        color: $textBody !important;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 600;
        padding: 0 25px;
        display: block;
        &:hover {
          color: $primaryColor !important;
        }
      }
    }

    /*** sidebar menu ***/
    .navigation {
      padding: 2rem;
      text-align: left;
      .menu-title {
        color: #418fde;
        text-transform: uppercase;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 10px;
        margin-bottom: 0;
        font-weight: bold;
      }
      .nav-item {
        border-bottom: 1px solid $borderColor;
        display: block;
        a {
          display: block;
          padding: 5px 5px 5px 0;
        }
      }
    }

    /*** when header is sticky ***/
    .sticky-wrapper {
      transform: unset !important;
      z-index: 99;
    }

    .is-sticky {
      .header {
        padding: 0;
        background: #ffffff;
        transition: all 0.35s ease;
        border-bottom: 1px solid $borderColor;
        .header-logo {
          transform: scale(0.85);
          transform-origin: center left;
        }
        .header-logo-text {
          display: none !important;
        }

        .full-header-menu {
          display: inline-block;
          opacity: 1;
          transition: all 0.5s ease-out;
        }
      }
      .bm-burger-button,
      .header-search {
        filter: none !important;
      }
    }
  }
  button {
    outline: none !important;
  }

  /***** COLORS - texts and backgrounds ******/
  .text-primary {
    color: $primaryColor !important;
  }
  .text-body {
    color: $textBody !important;
  }
  .bg-primary {
    background: linear-gradient(45deg, $primaryGradient) !important;
  }
  .bg-dark {
    background: #181a21 !important;
  }
  .bg-light {
    background-color: $lightColor !important;
  }
  /***** end of COLORS ******/

  /***** TYPEFACE ******/
  .font-weight-normal {
    font-weight: 300 !important;
  }
  .display-1 {
    font-size: 5.5em !important;
  }
  .display-2 {
    font-size: 4.5em !important;
  }
  .display-3 {
    font-size: 3.5em !important;
  }
  .display-4 {
    font-size: 3em !important;
  }
  @media (max-width: 575.98px) {
    /* manage display headers for mobile devices */
    .display-1 {
      font-size: 3rem !important;
      hyphens: auto;
    }
    .display-2 {
      font-size: 2.75rem !important;
    }
    .display-3 {
      font-size: 2.25rem !important;
    }
    .display-4 {
      font-size: 1.75rem !important;
    }
  }
  .bordered-heading {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
  /***** end of TYPEFACE ******/

  /****** BUTTONS ******/
  .btn {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0 !important;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    &.btn-lg {
      font-size: 18px;
      padding: 16px 40px;
    }
    &.btn-sm {
      font-size: 12px;
      padding: 7px 15px;
    }
    &.btn-primary {
      color: #ffffff !important;
      border: none !important;
      background: linear-gradient(to right, $primaryGradient) !important;
      &:before {
        content: "";
        position: absolute;
        border: 1px solid $primaryColor;
        border-radius: inherit;
        top: 50%;
        transform: translateY(-50%);
        right: -4px;
        left: -4px;
        opacity: 0;
        animation-duration: 1.15s;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
      }

      &:active:before,
      &:focus:before,
      &:hover:before {
        animation-name: ripple;
        animation-iteration-count: infinite;
      }
    }
    &.btn-secondary {
      background: transparent !important;
      border: 1px solid $primaryColor !important;
      color: $primaryColor !important;
      &:hover,
      &:focus,
      &:active {
        background: darken($primaryColor, 40%) !important;
        border: 1px solid $textBody !important;
        color: #ffffff !important;
      }
    }
    &.btn-white {
      background: #ffffff !important;
      border: 1px solid #ffffff;
      color: $primaryColor !important;
    }
  }
  /****** end of BUTTONS ******/

  /****** GLOBAL STYLES ******/
  @media (min-width: 1280px) {
    .container {
      max-width: 1260px;
    }
  }
  .container,
  .container-fluid {
    position: relative;
    z-index: 3;
  }

  a {
    color: $primaryColor;
    text-decoration: none !important;
    transition: all 0.35s ease;
    &:hover {
      color: $primaryColor !important;
    }
  }

  /*custom padding classes*/
  .py-10 {
    padding-top: 130px;
    padding-bottom: 100px;
  }
  .pt-10 {
    padding-top: 100px;
  }
  .pb-10 {
    padding-bottom: 100px;
  }
  .pt-20 {
    padding-top: 200px;
  }

  /*form*/
  form {
    .form-group {
      position: relative;
      .form-control {
        border: 1px solid rgba($primaryColor, 0.75);
        color: $textBody !important;
        background-color: #ffffff;
        padding: 10px 15px;
        padding-top: 27px;
        height: 55px;
        resize: none;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        margin-bottom: 10px;
        color: inherit;
      }
      label {
        opacity: 0.85;
        position: absolute;
        top: 12px;
        left: 9px;
        padding: 0 7px;
        right: 0;
        color: $primaryColor;
        cursor: text;
        transition: 0.2s ease-out;
        display: inline-table;
        z-index: 1;
        pointer-events: none;
      }
    }
    input.form-control:focus:not([readonly]) + label,
    textarea.form-control:focus:not([readonly]) + label,
    .form-group.active label {
      opacity: 1;
      top: 3px;
      font-size: 10px;
      color: $primaryColor;
    }

    input.form-control,
    textarea.form-control {
      &:focus {
        &:not([readonly]) {
          border: 1px solid $primaryColor;
        }
      }
    }

    label.unchanged-value {
      opacity: 1;
      top: 3px;
      font-size: 12px;
      color: $primaryColor;
    }
  }
  /*end of form*/

  /*vertically center child element of relative-positioned parent*/
  .v-center {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    transform: perspective(1px) translateY(-50%);
  }

  /*styled list*/
  .product-body {
    ul {
      list-style: none;
      padding: 0;
      li {
        padding-left: 25px;
        display: block;
        background: url("../images/check.svg") no-repeat left 5px;
        background-size: 18px;
        margin-top: 3px;
        margin-bottom: 3px;
      }
    }
  }
  .styled-list {
    list-style: none;
    padding: 0;
    li {
      padding-left: 25px;
      display: block;
      background: url("../images/check.svg") no-repeat left 5px;
      background-size: 18px;
      margin-top: 3px;
      margin-bottom: 3px;
    }
  }

  .page-headline {
    padding-top: 100px;
    padding-bottom: 25px;
    background: url("../images/houselines-right.png") bottom -300px right no-repeat,
      $lightColor;
  }

  .page-content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /****** end of GLOBAL STYLES ******/

  /****** FOOTER ******/
  .footer {
    padding-top: 35px;
    padding-bottom: 35px;
    position: relative;
    background-image: url("../images/adobestock_74280309.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    color: #ffffff;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.9),
        rgba(35, 39, 42, 0.95)
      );
    }
    .section-heading {
      color: #ffffff;
    }
    .footer-links {
      a {
        color: #ffffff !important;
        font-size: medium;
        font-weight: 300;
        opacity: 0.45;
        transition: all 0.35s ease;
        text-transform: capitalize;
        &:hover {
          opacity: 1;
        }
      }
    }
    .social-icons {
      a {
        margin-left: 15px;
        opacity: 0.5;
        transition: all 0.35s ease;
        &:hover {
          opacity: 1;
        }
        &:last-child {
          margin-right: 0;
        }
        i {
          font-size: 22px;
          display: inline-block;
          color: #ffffff;
          width: 40px;
          height: 40px;
          border: 1px solid #ffffff;
          text-align: center;
          border-radius: 50%;
          line-height: 40px;
        }
      }
    }

    .newsletter-subscribe-form-wrapper {
      @media (min-width: 768px) {
        margin-top: -85px;
      }
      h6 {
        margin-top: -10px;
        vertical-align: middle;
      }
      form.subscribe-form {
        transform: scale(0.85);
        transform-origin: left center;
        position: relative;
        .form-control,
        .form-group {
          margin: 0;
        }
        .subscribe-btn {
          height: 55px;
          padding: 0 22px !important;
          color: #ffffff !important;
          background: linear-gradient(to right, $primaryGradient);
          &:before {
            content: none;
          }
          @media (min-width: 374px) {
            margin-top: -21px;
          }
        }
        @media (min-width: 768px) {
          .copyright-text {
            margin-top: -15px;
          }
        }
        @media (min-width: 768px) and (max-width: 991px) {
          input.form-control {
            width: 325px;
          }
        }
        @media (min-width: 1280px) {
          input.form-control {
            width: 350px;
          }
        }
      }
    }
  }

  /****** end of FOOTER ******/

  /****** PRODUCTS ******/
  .swiper-button-disabled {
    opacity: 0.35 !important;
  }
  .products-swiper {
    .swiper-container {
      padding-bottom: 15px;
      height: 100%;
    }
  }
  .product-item {
    border: 1px solid $borderColor;
    margin-right: -1px;
    margin-bottom: -1px;
    height: 100%;
    position: relative;
    background: #ffffff;
    transition: all 0.35s ease;
    .product-image {
      height: 225px;
      position: relative;
      overflow: hidden;
      text-align: center;
      position: relative;
      background: #ffffff;
      img {
        /*max-height: 150px;*/
        transition: all 0.75s ease;
      }
      &:hover {
        img {
          transform: scale(1.15);
        }
      }
    }
    .product-desc {
      padding: 30px;
    }

    .product-link {
      position: absolute;
      bottom: 30px;
    }
    &.featured {
      .product-image {
        height: 250px;
        img {
          max-height: 200px;
        }
      }
      .product-desc {
        padding: 30px 30px 50px;
      }

      &:hover {
        box-shadow: 0 0.5rem 1rem rgba(8, 28, 39, 0.15);
      }
    }
  }
  .featured-slider-nav {
    position: relative;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    outline: none !important;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    i {
      font-size: 22px;
      position: absolute;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
    &.featured-prev {
      padding-left: 15px;
      margin-right: 5px;
      i {
        left: 0;
      }
    }
    &.featured-next {
      padding-right: 15px;
      margin-left: 5px;
      i {
        right: 0;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .right-lined-btn {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 75%;
      height: 1px;
      background: $borderColor;
    }
  }

  /****** SECTION HEADINGS ******/
  .section-heading {
    padding-top: 2px;
    position: relative;
    margin-bottom: 30px;
    font-family: $headingFont;
    text-transform: uppercase;
    font-weight: 700;
    color: darken($primaryColor, 35%);
  }

  @media (max-width: 991px) {
    .about-section .section-heading {
      margin-top: 10%;
    }
  }

  @media (max-width: 767px) {
    .about-section .section-heading {
      margin-top: 16%;
    }
  }

  /****** ABOUT SECTION ******/
  .about-section {
    position: relative;
    overflow: hidden;
    background: url("../images/houselines-right.png") bottom -300px right no-repeat;
  }
  .col-img-bg {
    position: relative;
    text-align: right;
    height: 350px;
    min-height: 100%;
    @media (min-width: $break-md) {
      height: 650px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 80%;
      height: 60%;
      background-image: url("../images/2.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(1) brightness(1.5);
      opacity: 0.25;
    }
    img {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 15px;
      transform: perspective(1px) translateY(-50%);
      max-width: 75%;
    }
  }
  .col-right-txt {
    padding: 30px;
    @media (min-width: $break-md) {
      padding-right: 100px;
    }
  }
  /****** end of ABOUT SECTION ******/

  /****** BLOG SECTION ******/
  .blog-section {
    overflow: hidden;
    background: url("../images/houselines-01.png") bottom -300px left no-repeat;
  }
  .news-item {
    .news-item-bg {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .date {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, $primaryGradient);
    position: relative;
    max-width: 100%;
    .day {
      font-weight: bold;
      font-size: 35px;
      line-height: 1;
      display: block;
      color: #ffffff;
    }
    .month {
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: rgba(#ffffff, 0.75);
    }
  }
  .event-item {
    border-bottom: 1px dotted $borderColor;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  /****** end of BLOG SECTION******/

  /*.subscribe-section {
    background: $primaryColor;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../images/../images/houselines-white.png") bottom -500px right
        no-repeat;
      filter: brightness(0) invert(1);
    }
  }*/

  /****** end of SUBSRIBE SECTION ******/

  .home-tabs {
    position: absolute;
    border-bottom: 1px solid $lightColor;
    width: 100%;
    z-index: 9;
    .nav-item {
      position: relative;
      .nav-link {
        color: $primaryColor !important;
        position: relative;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 3px;
        cursor: pointer;
        background: #ffffff;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        border-bottom: 5px solid transparent;
        height: 100%;

        &:hover {
          color: $textBody !important;
        }

        &.active {
          color: $textBody !important;
          border-bottom: 5px solid $primaryColor;
        }
      }
    }
  }

  @media (max-width: 717px) {
    .home-tabs .nav-item .nav-link {
      font-size: 13px !important;
    }
  }
  @media (max-width: 629px) {
    .home-tabs .nav-item .nav-link {
      font-size: 11px !important;
    }
  }
  @media (max-width: 559px) {
    .home-tabs .nav-item .nav-link {
      font-size: 9px !important;
    }
  }

  /****** PRODUCT CAROUSEL ******/

  .swiper-nav {
    .swiper-arrow-left,
    .swiper-arrow-right {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.15s ease;
      color: #ffffff;
      background: rgba(0, 0, 0, 0.4);
      outline: none !important;
      font-size: 32px;
      line-height: 1;
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #ffffff;
      padding: 7px;
      position: absolute;
      &:hover {
        opacity: 1;
      }
    }
    .swiper-arrow-left {
      left: 15px;
    }
    .swiper-arrow-right {
      right: 15px;
    }
  }

  .product-carousel {
    background-image: url("../images/background-fill.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    .product-carousel-slide {
      height: 575px;
      position: relative;
      text-align: center;

      img {
        max-height: 90%;
        padding-top: 100px;
      }
    }
  }

  /****** end of PRODUCT CAROUSEL ******/

  /****** GLOBAL ACCORDION STYLING ******/
  .basic-accordion-wrapper {
    .accordion {
      .card {
        border-radius: 0;
        border: 0;
        margin-bottom: -1px;

        .accordion-label {
          position: relative;
          display: block;
          width: 100%;
          text-align: left;
          font: inherit;
          padding: 7px 7px 7px 45px;
          text-decoration: none !important;
          color: $textBody !important;
          letter-spacing: 0;
          font-weight: 600 !important;
          background: $lightColor;
          &:after {
            font-family: FontAwesome;
            /*content: "\f055";*/
            content: "";
            background-image: url(/img/plus.svg);
            background-size: cover;
            height: 18px;
            width: 18px;
            position: absolute;
            left: 15px;
            top: 50%;
            transform: translateY(-50%);
          }
          &.active {
            &:after {
              background-image: url(/img/minus.svg);
            }
          }
        }

        .card-header {
          border-radius: 0;
          border: 1px solid $borderColor;
          background: #ffffff;
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          position: relative;
          padding: 0;
        }

        .card-body {
          border: 1px solid $borderColor;
          margin-top: -1px;
          .row {
            border-bottom: 1px solid $borderColor;
            &:last-child {
              border-bottom: 0;
            }
          }
        }
        &:last-child {
          .card-header {
            margin-bottom: 0 !important;
          }
        }
      }
    }
    &.product-accordion {
      font-size: small;
    }
  }

  /****** end of GLOBAL ACCORDION STYLING ******/

  /****** ACCORDION FOR CATEGORIES ******/
  .category-sidebar {
    height: 100%;
    padding-bottom: 50px;
    @media (min-width: $break-md) {
      padding-left: 20px;
      padding-bottom: 0;
    }
  }
  .category-accordion-wrapper {
    .accordion {
      .card {
        border-radius: 0;
        border-width: 0 0 1px 0;
        border-bottom: 1px solid $borderColor !important;

        .accordion-label {
          position: relative;
          display: block;
          width: 100%;
          text-align: left;
          font: inherit;
          padding: 7px 15px 7px 0;
          border: 0 !important;
          text-decoration: none !important;
          color: $textBody !important;
          letter-spacing: 0;
          text-transform: none;
          &:after {
            font-family: FontAwesome;
            /*content: "\f055";*/
            content: "";
            background-image: url(/img/plus.svg);
            background-size: cover;
            height: 18px;
            width: 18px;
            position: absolute;
            right: 0px;
            top: 50%;
            transform: translateY(-50%);
          }
          &.active {
            &:after {
              background-image: url(/img/minus.svg);
            }
          }
        }

        .card-header {
          background: transparent;
          border-radius: 0;
          border: 0;
          cursor: pointer;
          position: relative;
          padding: 0;
        }

        .card-body {
          padding: 0 0 15px 0;
        }

        .subcategory {
          display: block;
          font-size: 13px;
          font-weight: 600;
          opacity: 0.5;
          cursor: pointer;
          transition: all 0.15s ease;
          &:hover {
            color: $primaryColor;
            opacity: 1;
          }
        }
      }
    }
  }
  /****** end of ACCORDION FOR CATEGORIES ******/

  .product-name-logo {
    /*align name of product with inline logos*/
    display: flex;
    align-items: center;
  }

  .related-items-wrapper {
    padding-top: 75px;
    padding-bottom: 75px;
    border-top: 1px solid $borderColor;
  }

  @keyframes ripple {
    0% {
      transform: translateY(-50%) scale(1);
      opacity: 0;
    }
    20% {
      transform: translateY(-50%) scale(1.02, 1.09);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-50%) scale(1.02, 1.09);
    }
  }

  /*** US Map ***/
  .select-state-wrapper {
    position: sticky;
    top: 75px;
  }
  .us-state-map {
    width: 100%;
    path {
      pointer-events: all;
    }
    path:hover,
    .highlighted-state {
      fill: $primaryColor;
      cursor: pointer;
    }
  }

  /*** Literature and Media ***/
  .literature-content-wrapper {
    .container {
      z-index: 4;
      //fix for video modal
    }
    .catalog-nav .nav-link {
      padding: 5px 0;
      border-radius: 0;
      background: transparent !important;
      color: $textBody;

      &.active {
        color: $primaryColor;
      }
    }

    .tab-pane {
      padding-top: 35px;
      padding-bottom: 35px;
    }

    .video-thumbnail {
      display: block;
      width: 100%;
      padding-top: 56.25%;
      background-color: $lightColor;
      background-size: cover;
      background-repeat: no-repeat;
      position: relative;
      cursor: pointer;
      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.25);
      }
      &:before {
        content: "\f04b";
        width: 100%;
        font-family: FontAwesome;
        position: absolute;
        z-index: 2;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        text-align: center;
        color: #ffffff;
        font-size: 28px;
        width: 50px;
        height: 50px;
        background: $primaryColor;
        line-height: 1;
        padding: 12px 15px;
        border-radius: 50%;
        transition: all 0.35s ease-in-out;
      }
      &:hover:before {
        box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.25);
      }
    }
    .modal-video-body {
      width: 750px;
      max-width: 100%;
    }
  }
}
