@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,600,600i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Oswald:700&display=swap");

$fontStack: "Open Sans", sans-serif;
$headingFont: "Oswald", serif;
$primaryColor: #418fde;
$lightColor: #f4f6fb;
$borderColor: #e1e1e1;
$textBody: #1a2729;
$primaryGradient: #418fde, #00d0ff;

/*breakpoints*/
$break-md: 768px;

body {
  font-family: $fontStack !important;
  line-height: 2 !important;
  font-size: 16px !important;
  font-weight: 300 !important;
  color: $textBody !important;

  header {
    .header {
      position: absolute;
      padding: 15px 0;
      z-index: 999;
      transition: all 0.35s ease;
      width: 100%;
      background: #ffffff;
      .header-logo img {
        width: 70px;
        transform: scale(1.15);
        transition: all 0.35s ease-in-out;
      }
      .header-cta {
        margin-top: -3px;
      }
      .header-search {
        display: inline-block;
        .search-icon {
          position: relative;
          cursor: pointer;
          &:before {
            content: "Search";
            text-transform: none;
            letter-spacing: 0;
            padding-right: 15px;
            opacity: 0;
            transition: all 0.15s ease-out;
          }
          &:hover {
            &:before {
              opacity: 1;
            }
          }
        }
        .search-field {
          position: relative;
          .form-group {
            margin: 0;
            position: relative;
          }
          .form-control {
            padding: 15px 50px 15px 15px;
            font-size: 14px;
            margin-bottom: 0;
            height: 50px; /*to match header-cta button*/
            background: transparent;
          }
          .search-icon-btn {
            border: 0 !important;
            background: transparent;
            outline: none;
            position: absolute;
            right: 15px;
            top: 50%;
            transform: perspective(1px) translateY(-50%);
            border: 1px solid $borderColor;
            padding: 0;
          }
        }
      }
      /*transparent header for homepage*/
      &.transparent {
        background: transparent;
        .bm-burger-button,
        .header-search {
          filter: brightness(0) invert(1);
        }
      }
    }
    .is-sticky {
      .header {
        padding: 0;
        background: #ffffff;
        transition: all 0.35s ease;
        border-bottom: 1px solid $borderColor;
        .header-logo img {
          transform: scale(0.85);
          transform-origin: center left;
        }
      }
      .bm-burger-button,
      .header-search {
        filter: none !important;
      }
    }
    .sticky-wrapper {
      transform: unset !important;
      z-index: 99;
    }
    .navigation {
      padding: 3rem;
      text-align: left;
      .nav-item {
        margin-bottom: 10px;
        a {
          color: $textBody !important;
          &:hover {
            color: $primaryColor !important;
          }
        }
      }
    }
  }

  /***** COLORS - texts and backgrounds ******/
  .text-primary {
    color: $primaryColor !important;
  }
  .text-body {
    color: $textBody !important;
  }
  .bg-primary {
    background: linear-gradient(45deg, $primaryGradient) !important;
  }
  .bg-dark {
    background: #181a21 !important;
  }
  .bg-light {
    background-color: $lightColor !important;
  }
  /***** end of COLORS ******/

  /***** TYPEFACE ******/
  .font-weight-normal {
    font-weight: 300 !important;
  }
  .display-1 {
    font-size: 5.5em !important;
  }
  .display-2 {
    font-size: 4.5em !important;
  }
  .display-3 {
    font-size: 3.5em !important;
  }
  .display-4 {
    font-size: 3em !important;
  }
  @media (max-width: 575.98px) {
    /* manage display headers for mobile devices */
    .display-1 {
      font-size: 3rem !important;
      font-weight: inherit !important;
      hyphens: auto;
    }
    .display-2 {
      font-size: 2.75rem !important;
      font-weight: inherit !important;
    }
    .display-3 {
      font-size: 2.25rem !important;
      font-weight: inherit !important;
    }
    .display-4 {
      font-size: 1.75rem !important;
      font-weight: inherit !important;
    }
  }
  /***** end of TYPEFACE ******/

  /****** BUTTONS ******/
  .btn {
    border-radius: 0 !important;
    box-shadow: none !important;
    padding: 15px 35px;
    font-size: 14px;
    font-weight: 400 !important;
    letter-spacing: 2px;
    text-transform: uppercase;
    border: 0 !important;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    &.btn-lg {
      font-size: 18px;
      padding: 16px 40px;
    }
    &.btn-sm {
      font-size: 12px;
      padding: 7px 15px;
    }
    &.btn-primary {
      color: #ffffff !important;
      border: none !important;
      background: linear-gradient(to right, $primaryGradient) !important;
      &:before {
        content: "";
        position: absolute;
        border: 1px solid $primaryColor;
        border-radius: inherit;
        top: 50%;
        transform: translateY(-50%);
        right: -4px;
        left: -4px;
        opacity: 0;
        animation-duration: 1.15s;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
      }

      &:active:before,
      &:focus:before,
      &:hover:before {
        animation-name: ripple;
        animation-iteration-count: infinite;
      }
    }
    &.btn-secondary {
      background: transparent !important;
      border: 1px solid $primaryColor !important;
      color: $primaryColor !important;
      &:hover,
      &:focus,
      &:active {
        background: darken($primaryColor, 40%) !important;
        border: 1px solid $textBody !important;
        color: #ffffff !important;
      }
    }
    &.btn-white {
      background: #ffffff !important;
      border: 1px solid #ffffff;
      color: $primaryColor !important;
    }
  }
  /****** end of BUTTONS ******/

  /****** GLOBAL STYLES ******/
  @media (min-width: 1200px) {
    .container {
      max-width: 1200px;
    }
  }
  .container,
  .container-fluid {
    position: relative;
    z-index: 3;
  }

  a {
    color: $primaryColor !important;
    text-decoration: none !important;
    transition: all 0.35s ease;
    &:hover {
      color: $primaryColor !important;
    }
  }

  /*custom padding class*/
  .py-10 {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  /*form*/
  form {
    .form-group {
      position: relative;
      .form-control {
        border: 1px solid rgba($primaryColor, 0.75);
        color: $textBody !important;
        background-color: #ffffff;
        padding: 10px 15px;
        padding-top: 27px;
        height: 55px;
        resize: none;
        border-radius: 0;
        outline: none;
        box-shadow: none;
        margin-bottom: 10px;
        color: inherit;
      }
      label {
        opacity: 0.85;
        position: absolute;
        top: 12px;
        left: 9px;
        padding: 0 7px;
        right: 0;
        color: $primaryColor;
        cursor: text;
        transition: 0.2s ease-out;
        display: inline-table;
        z-index: 1;
        pointer-events: none;
      }
    }
    input.form-control:focus:not([readonly]) + label,
    textarea.form-control:focus:not([readonly]) + label,
    .form-group.active label {
      opacity: 1;
      top: 3px;
      font-size: 10px;
      color: $primaryColor;
    }

    input.form-control,
    textarea.form-control {
      &:focus {
        &:not([readonly]) {
          border: 1px solid $primaryColor;
        }
      }
    }

    label.unchanged-value {
      opacity: 1;
      top: 3px;
      font-size: 12px;
      color: $primaryColor;
    }

    &.subscribe-form {
      position: relative;
      .form-control,
      .form-group {
        margin: 0;
      }
      .form-control {
        padding-right: 150px !important;
      }
      .subscribe-btn {
        position: absolute;
        right: 3px;
        top: -52px;
        height: 49px;
        border-top-right-radius: 30px;
        border-bottom-right-radius: 30px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0 22px !important;
        color: #ffffff !important;
        background: linear-gradient(to right, $primaryGradient);
        &:before {
          content: none;
        }
      }
    }
  }
  /*end of form*/

  /*vertically center child element of relative-positioned parent*/
  .v-center {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    margin: auto;
    transform: perspective(1px) translateY(-50%);
  }
  /****** end of GLOBAL STYLES ******/

  /****** FOOTER ******/
  .footer {
    position: relative;
    background-image: url("../images/adobestock_74280309.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    color: #ffffff;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        45deg,
        rgba(0, 0, 0, 0.9),
        rgba(35, 39, 42, 0.95)
      );
    }
    .section-heading {
      color: #ffffff;
    }
    .footer-links {
      a {
        color: #ffffff !important;
        font-size: medium;
        opacity: 0.45;
        transition: all 0.35s ease;
        &:hover {
          opacity: 1;
        }
      }
    }
    .container:first-child {
      padding-top: 75px;
      padding-bottom: 30px;
    }
    /*copyright*/
    .container:nth-child(2) {
      padding-top: 15px;
      padding-bottom: 15px;
      border-top: 1px solid rgba(255, 255, 255, 0.25);
      font-weight: 300;
      .copyright a {
        color: #ffffff !important;
        text-decoration: underline !important;
      }

      .social-icons {
        a {
          margin-right: 15px;
          opacity: 0.5;
          transition: all 0.35s ease;
          &:hover {
            opacity: 1;
          }
          &:last-child {
            margin-right: 0;
          }
          i {
            font-size: 22px;
            display: inline-block;
            color: #ffffff;
            width: 40px;
            height: 40px;
            border: 1px solid #ffffff;
            text-align: center;
            border-radius: 50%;
            line-height: 40px;
          }
        }
      }
    }
  }

  /****** end of FOOTER ******/

  /****** PRODUCTS ******/
  .products-swiper {
    .swiper-button-disabled {
      opacity: 0.35 !important;
    }
    .swiper-container {
      padding-bottom: 15px;
    }
  }
  .product-item {
    height: 100%;
    position: relative;
    background: #ffffff;
    transition: all 0.35s ease;
    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 0.5rem 1rem rgba(8, 28, 39, 0.15);
    }
    .product-image {
      height: 175px;
      position: relative;
      overflow: hidden;
      text-align: center;
      position: relative;
      background: #ffffff;
      img {
        /*max-height: 150px;*/
        transition: all 0.75s ease;
      }
      &:hover {
        img {
          transform: scale(1.15);
        }
      }
    }
    .product-desc {
      padding: 15px;
    }

    .product-link {
      position: absolute;
      bottom: 30px;
    }
    &.featured {
      .product-image {
        height: 250px;
        img {
          max-height: 200px;
        }
      }
      .product-desc {
        padding: 30px 30px 50px;
      }
    }
  }
  .featured-slider-nav {
    position: relative;
    line-height: 1;
    display: inline-block;
    text-transform: uppercase;
    outline: none !important;
    opacity: 0.75;
    cursor: pointer;
    transition: all 0.35s ease-in-out;
    i {
      font-size: 22px;
      position: absolute;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }
    &.featured-prev {
      padding-left: 15px;
      margin-right: 5px;
      i {
        left: 0;
      }
    }
    &.featured-next {
      padding-right: 15px;
      margin-left: 5px;
      i {
        right: 0;
      }
    }
    &:hover {
      opacity: 1;
    }
  }
  .right-lined-btn {
    position: relative;
    &:before {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      width: 75%;
      height: 1px;
      background: #418fde;
    }
  }

  /****** SECTION HEADINGS ******/
  .section-heading {
    padding-left: 40px;
    padding-top: 2px;
    position: relative;
    margin-bottom: 30px;
    font-family: $headingFont;
    text-transform: uppercase;
    font-weight: 700;
    color: darken($primaryColor, 35%);
    &:before {
      content: "";
      position: absolute;
      left: 10px;
      top: 0;
      width: 15px;
      height: 100%;
      background: #418fde;
      transform: skew(-30deg);
      opacity: 0.5;
    }
  }

  /****** ABOUT SECTION ******/
  .about-section {
    position: relative;
    overflow: hidden;
    background: url("../images/houselines-right.png") bottom -300px right no-repeat;
  }
  .col-img-bg {
    position: relative;
    text-align: right;
    height: 350px;
    min-height: 100%;
    @media (min-width: $break-md) {
      height: 650px;
    }
    &:after {
      content: "";
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 80%;
      height: 60%;
      background-image: url("../images/2.jpeg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      filter: grayscale(1) brightness(1.5);
      opacity: 0.25;
    }
    img {
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 15px;
      transform: perspective(1px) translateY(-50%);
      max-width: 75%;
    }
  }
  .col-right-txt {
    padding: 30px;
    @media (min-width: $break-md) {
      padding-right: 100px;
    }
  }
  /****** end of ABOUT SECTION ******/

  /****** BLOG SECTION ******/
  .blog-section {
    overflow: hidden;
    background: url("../images/houselines-01.png") bottom -300px left no-repeat;
  }
  .news-item {
    .news-item-bg {
      height: 300px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
  }
  .date {
    width: 100px;
    height: 100px;
    background: linear-gradient(45deg, $primaryGradient);
    position: relative;
    max-width: 100%;
    .day {
      font-weight: bold;
      font-size: 35px;
      line-height: 1;
      display: block;
      color: #ffffff;
    }
    .month {
      font-weight: normal;
      line-height: 1.5;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: rgba(#ffffff, 0.75);
    }
  }
  .event-item {
    border-bottom: 1px dotted $borderColor;
    padding-bottom: 30px;
    margin-bottom: 30px;
    &:last-child {
      padding-bottom: 0;
      border-bottom: 0;
    }
  }
  /****** end of BLOG SECTION******/

  /****** SUBSRIBE SECTION ******/

  .subscribe-section {
    background: $primaryColor;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #ffffff;
    position: relative;
    &:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: url("../images/../images/houselines-white.png") bottom -500px right
        no-repeat;
      filter: brightness(0) invert(1);
    }
  }

  /****** end of SUBSRIBE SECTION ******/

  /****** ATF section ******/
  .atf-banner {
    height: 768px;
    position: relative;
    overflow: hidden;
    &:after {
      content: "";
      position: absolute;
      z-index: 0;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.45);
    }
    .container {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: perspective(1px) translateY(-50%);
    }

    &.brand {
      .slogan {
        letter-spacing: 5px;
        font-weight: 300;
      }
    }

    .atf-banner-bg {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .atf-nav {
    .atf-nav-left,
    .atf-nav-right {
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.15s ease;
      color: #ffffff;
      font-size: 32px;
      line-height: 1;
      background: rgba(255, 255, 255, 0.15);
      display: inline-block;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #ffffff;
      padding: 7px;
      position: absolute;
      &:hover {
        opacity: 1;
      }
    }
    .atf-nav-left {
      left: 15px;
    }
    .atf-nav-right {
      right: 15px;
    }
  }

  .home-tabs {
    border-bottom: 1px solid $borderColor;
    .nav-item {
      position: relative;
      .nav-link {
        color: $primaryColor !important;
        position: relative;
        text-align: center;
        padding-top: 25px;
        padding-bottom: 20px;
        cursor: pointer;
        background: url(../images/houselines-right.png) center right -85px,
          $lightColor;
        background-size: cover;
        background-repeat: no-repeat;
        letter-spacing: 2px;
        font-weight: 700;
        text-transform: uppercase;
        &.active {
          color: #ffffff !important;
          background: url(../images/houselines-white.png) center right -85px,
            linear-gradient(#418fde, #00d0ff);
        }
      }
      &:nth-child(2) {
        &:before,
        &:after {
          content: "";
          position: absolute;
          z-index: 3;
          top: 50%;
          transform: perspective(1px) translateY(-50%);
          width: 1px;
          height: 80%;
          background: $borderColor;
        }
        &:before {
          left: 0;
        }
        &:after {
          right: 0;
        }
      }
    }
  }

  /****** CATEGORIES ******/
  .subcategory-heading {
    border-bottom: 1px solid $borderColor;
    padding-bottom: 20px;
    margin-bottom: 30px;
  }
  .category-sidebar {
    padding-right: 20px;
    border-right: 1px solid $borderColor;
    height: 100%;
  }
  .sticky-sidebar-categories {
    li {
      position: relative;
      padding-right: 30px;
      a {
        cursor: pointer;
        color: $textBody !important;
        &:hover,
        &:active {
          color: $primaryColor !important;
        }
      }
      .item-count {
        display: block;
        border-radius: 50%;
        background: $borderColor;
        height: 24px;
        width: 24px;
        text-align: center;
        line-height: 1;
        padding-top: 7px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: perspective(1px) translateY(-50%);
        font-size: 12px;
        font-weight: 600;
      }
    }
  }
  /****** end of CATEGORIES ******/

  @keyframes ripple {
    0% {
      transform: translateY(-50%) scale(1);
      opacity: 0;
    }
    20% {
      transform: translateY(-50%) scale(1.02, 1.09);
      opacity: 1;
    }
    100% {
      opacity: 0;
      transform: translateY(-50%) scale(1.02, 1.09);
    }
  }
}
